// Font
$mainFont: 'Cambria', sans-serif;
$akrobatFont: 'Cambria', sans-serif;
$montserratFont: 'Montserrat', sans-serif;

// Size
$cMainBlackColor: rgba(30, 30, 30, 1);
$cMainYellowColor: rgba(201, 171, 66, 1);
$cMainRed: #F13636;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 25px;
$whiteColor: #ffffff;
$greenColor: rgba(41, 50, 25, 1);
